.error{
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}

.label {
    font-size: large;
    font-weight: 600;
}

.input{

}

.group{
    padding: 10px;

    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}