.property{
    margin: 10px;
    padding: 5px;
    background-color: rgba(135, 206, 250, 0.5);
    border-radius: 5px;
    font-size: 25px;
}

.property_row{
    justify-content: center;
    align-items: center;
}

.property_title{

    padding: 0 10px;
    display: inline-block;
}

.property_value{
    box-sizing: border-box !important;
    min-width: 100%;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(250, 237, 92, 0.8);
}

.property_icon{
    height: 40px;
}

.checked{
    color: green;
}

.not_checked{
    color: red;
}