
ul{
    list-style: none;
    padding: 0;
}
 
.visual_side{
    border-radius: 0 15px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
    height: 100%;
    text-align: left;
    background: linear-gradient(130.81deg, #78BBF9 8.2%, #D1E8FD 97.71%);
}

.container{
    height: 100%;
}

.flare{
    position: absolute;
}

.nav_item{
    font-size: medium;
    font-weight: 600;
    padding: 0 3px;
  
  }
  
  .nav_item__active{
      background-color: #0d6efd;
      border-radius: 5px;
  }

  .nav_link{
    color: black !important;
  }

  .nav_link__active{
    color: white !important;
  }