
ul{
    list-style: none;
    padding: 0;
}
 
.visual_side{
    border-radius: 0 15px 0 0;
    height: 100%;
    text-align: left;
    background: linear-gradient(130.81deg, #78BBF9 8.2%, #D1E8FD 97.71%);
}

.container{
    height: 100%;
}

.flare{
    position: absolute;
}

