.visualization_container{
    width: fit-content;
    height: 300px;
    margin: auto;
    margin-top: 200px;
}

.component_list{
    display: inline-block;
}

.component{
    position: relative;
    width: 30px;
    display: inline-block;
    transition: width, margin-left 0.3s ease-in;
}

.component_img{
    height: 270px;
    position: relative;
    right: 15px;
    transition: height, margin-left 0.3s ease-in;
}

.component__active:not(:last-child),
.component:hover:not(:last-child){
    margin-left: 30px;
    width: 100px;
}

.component:hover:last-child,
.component__active:last-child{
    margin-left: 30px;
    width: 30px;
}


.component:hover .component_img,
.component__active .component_img{
    height: 300px;

}

.size{
    position: absolute;
    display: inline-block;
    background-color: grey;
    text-align: center;
}

.width_size{
    width: 100px;
    height: 2px;
    translate: -28px 270px;
    rotate: 326deg;

}

.height_size{
    width: 212px;
    height: 2px;
    rotate: 270deg;
    translate: -35px 122px;
}